.uploadpage-container {
    margin: 20px auto;
    width: 70%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    background: linear-gradient(90deg, rgb(190, 7, 7) 0%, rgb(206, 10, 10) 100%);
    justify-content: center;
    align-items: center;
}

.upload-heading {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.upload-heading h1{
    font-size: xx-large;
    text-align: center;
    color: #fff;
}

.upload-heading h3{
    font-size: large;
    text-align: center;
    color: #fff;
}

.upload-form {
    width: 100%;
    height: 100%;
    display: block;
 }

.rleft-inputs {
    justify-content: center;
    align-items: center;
}

.rright-inputs {
    justify-content: center;
    align-items: center;
}

.info-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
}
  
.info-label {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #fff;
}

.facility {
    font-size: 21px;
    color: #ffff;
}

.info-facility {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.info-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}

.info-input::placeholder {
    color: #595959;
    font-size: 14px;
}

.select-input {
    width: 150px;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
}

.radio-input {
    margin-left: 10px;
    color: rgb(63, 11, 11);
}
  
.info-radio {
    margin-left: 10px;
    color: #fff;
}

.rounded {
    border-bottom: 3px round white;
    margin-bottom: 15px;
}

.btn-holder {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.submit-btn {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 1rem;
    color: #fff;
    padding: 8px 20px;
    outline: none;
}
  
.submit-btn:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    transition: all 0.4s ease-out;
}
  
.upload-image-section {
    justify-content: center;
    align-items: center;
}

.duration-options{
    justify-content: center;
    align-items: center;
}

.image-submit {
    justify-content: center;
    align-items: center;
    margin: 40px
}

.image-submit-btn {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 1rem;
    color: #fff;
    padding: 8px 20px;
    outline: none;
}

.image-submit-btn:hover {
    cursor: pointer;
    background: rgb(0, 0, 0);
    transition: all 0.4s ease-out;
}