.submitted-success {
    text-align: center;
    font-size: 24px;
    color: #fff;
}
  
.submitted-content {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(190, 7, 7) 0%, rgb(206, 10, 10) 100%);
    justify-content: center;
    align-items: center;
}